.game {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.card-wrapper {
  position: relative;
  flex: 3;
  display: flex;
  align-items: center;
  max-height: 90vw;
  transition: transform .2s ease;
  width: 100%;
  height: 100%;
}

.card-wrapper.small {
  flex: 2;
  max-height: 70vw;

  .dobble-card {
    height: 95%;
  }
}

.svg {
  width: auto;
  height: 100%;
  z-index: -1;
  display: block;
  margin: 0 auto;

  -webkit-filter:
    drop-shadow(0px 3px 9px rgba(10, 10, 10, 0.2))
    drop-shadow(0 0 1px rgba(10, 10, 10, 0.2));
  filter:
    drop-shadow(0px 3px 9px rgba(10, 10, 10, 0.2))
    drop-shadow(0 0 1px rgba(10, 10, 10, 0.2));

}

.dobble-card {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotateY(180deg) rotateZ(var(--rotate, 0deg));
  transform-style: preserve-3d;
  transition: transform .2s ease-in-out;
  height: 90%;
  width: 100%;
  max-width: 500px;
}

.dobble-card.faceup {
  transform: translateX(-50%) rotateZ(var(--rotate, 0deg));
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  transform: translateX(-50%);
  transform-origin: 25% center;
}

.card-front {
  z-index: 1;
}

.card-back {
  color: white;
  transform: rotateY(180deg);
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;

  span {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 1
  }
}

.small .card-back {
  transform: rotateY(180deg);
}

