.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-weight: bold;

  &::before {
    content: '';
    height: 0.9rem;
    width: 0.9rem;
    background-color: white;
    border-radius: 1rem;
    margin-right: 0.4rem;
  }
}

