@charset "utf-8";

$purple: #6600ff;

$primary: $purple;
$link: $purple;
$family-sans-serif: 'Manrope', sans-serif;

$body-overflow-y: auto;

:root {
  --purple: #{$purple};
}

@import "~bulma/bulma.sass";
