@charset "utf-8";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@300;600&display=swap";

$purple: #6600ff;
$pink: #FF008C;

$primary: $purple;
$link: $purple;
$family-sans-serif: 'Manrope', sans-serif;

$body-overflow-y: auto;

:root {
  --purple: #{$purple};
  --pink: #{$pink};
}

@import "~bulma/bulma.sass";

body, html {
  min-height: 100vh;
  min-height: -webkit-max-available;
  background-color: var(--purple);
}

#__next {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  padding-top: 55px;
}

@keyframes shake {
  8%, 41% {
      transform: translateX(-10px);
  }
  25%, 58% {
      transform: translateX(10px);
  }
  75% {
      transform: translateX(-5px);
  }
  92% {
      transform: translateX(5px);
  }
  0%, 100% {
      transform: translateX(0);
  }
}

.button {
  height: auto;
  white-space: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.unclickable {
  pointer-events: none;
}

.heading {
  font-size: 0.8rem;
}

.underlined {
  text-decoration: underline;
}
